*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties

# Carpeta puente: aqui van los archivos que el entorno remoto no puede borrar
_borrar/
